.contact_item {
    width: 350px;
    text-align: center;
    padding: 5px 10px;
}

img:first-child {
    float: left;
}

img:nth-child(2) {
    float: right;
    width: 20px;
}

span {
    font-size: 14px;
    display: block;
    line-height: 25px;
}

img {
    margin-top: 14px;
}